{% extends 'base.html' %}

{% block body %}
<div class="container">
  <div class="row">
    <h1>Dashboard Page</h1>
  </div>
  <div class="row">
    <form class="form-group"  method="post">
      {% csrf_token %}
      <h2>Post</h2>
      {{ form.as_p }}
      <button class="btn btn-primary" type="submit" name="button">Submit</button>
    </form>
  </div>
  <div class="row">
    <h3>{{ text }}</h3>
  </div>
  <div class="row">
    <ul>
      {% for post in posts %}
      <li>
        <h4>{{ post.post }}</h4>
        <p>Posted by {{ post.user.get_full_name }} on {{ post.created }}</p>
      </li> 
    {% endfor %}
  </ul>
</div>
</div>
{% endblock %}
