{% extends 'base.html' %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Home</h1>
      <form method="post">
        {% csrf_token %}
        {{ form.post }}
        <br>
        <button class='btn btn-primary' type="submit">Submit</button>
      </form>
      <h3>{{ text }}</h3>
      {% for post in posts %}
      <h3>{{ post.post }}</h3>
      <p>Posted by {{ post.user.get_full_name }} on {{ post.created }}</p>
      {% endfor %}
    </div>
    <div class="col-md-4">
      <h1>Other People</h1>
      {% for user in users %}
        <a href="{% url 'accounts:profile'%}">
          <h3>{{ user.username }}</h3>
        </a>
      {% if not user in friends %}
        <button type="button" class="btn btn-success">Add Friend</button>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
