{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- FONTAWESOME -->

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/styles.css' %}">


    {% block head %}
    <meta charset="utf-8">
    <title>Good-Rich</title>
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Social Network</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <!-- {% if user.is_authenticated %} -->
            <ul class="nav navbar-nav">
                <li><a href="{% url 'accounts:index' %}">Home</a></li>
                <li><a href="{% url 'accounts:index' %}">Profile</a></li>
                <li><a href="{% url 'accounts:index' %}">Edit Profile</a></li>
                <li><a href="{% url 'accounts:index' %}">Change Password</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'accounts:logout' %}">Log out</a></li>
            </ul>
            <!-- {% else %} -->
            <ul class="nav navbar-nav">
                <li><a href="{% url 'accounts:index' %}">Reset Password</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url 'accounts:login' %}">Login</a></li>
              <li><a href="{% url 'accounts:register' %}">Register</a></li>
            </ul>
            <!-- {% endif %} -->
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
    </div>

    {% block body %} {% endblock %}

    <!-- JAVASCRIPT -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>
</html>
